.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  font-size: 0.5rem;
}

.nav a , footer a {
  text-decoration: none;
  color: white;
}

.nav button , footer button {
  background-color: transparent;
  border: none;
  color: white;
}

nav button:hover , footer button:hover{
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

nav h1 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

footer p {
  margin: 0;
}

@font-face {
  font-family: customFont;
  src: url(fonts/Poppins-Regular.ttf);
}

body, header, button {
  font-family: customFont;
}